h1{
   text-align: center;
   font-size: 70px;
   color: yellow;
   font-family: fantasy;
   letter-spacing: 2px;
   }
p1  {
   color: black;
   font-family: fantasy;
   font-size: px;
   font-size: 20px;
   padding-top: 60px;
   text-align: center;
   }
a {
  color: red;
  font-family: fantasy;
  font-size: 15px;
  padding-top: 12px;
}

ul {
   color: darkblue;
   font-family: darkblue;
   line-height: 26px;
   }
body {
    background-image:f585d51107f8a026b04d3931efd1acf6.jpg;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: blue;
    background-size: 100%;
    height: 100vh;
    width: 100vw;
}


h2 {
  text-align: inherit;
  margin: auto;
  font-size: 12px;
  color: crimson;
}
